{{> components/header}}

<section class="second_section" id="second_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-12">
        <img height="125" src="/images/iconset/success.png">
        <p class="text_head mt-5">Email has been sent</p>
        <p class="text_subtitle mt-1">Thank you</p>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <img
          src="/images/image1.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</section>


<section class="section" id="six_section">
  <div id="map" style="width: 100%; height: 500px;"></div>
</section>

{{> components/footer}}