{{> components/header}}

<section class="second_section" id="second_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-12">
        <p class="text_head mt-5">Book now</p>
        <div class="separ mb-4"></div>
        <form method="POST">
          <div class="form-group">
            <label for="exampleInputEmail1">Your email address</label>
            <input class="my_input" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="width:300px;" required>
          </div>
          <button type="submit" class="btn btn-primary my_button">Submit</button>
        </form>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <img
          src="/images/image1.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</section>


<section class="section" id="six_section">
  <div id="map" style="width: 100%; height: 500px;"></div>
</section>

{{> components/footer}}