{{> components/header}}

<section class="second_section" id="second_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-12">
        <p class="text_head">Contact Us</p>
        <div class="separ mb-4"></div>
        <p class="text_title">Email</p>
        <p class="text_content">
          issued@fairtech.com.sg
        </p>
        <p class="text_title">Fax</p>
        <p class="text_content">
             +123 123 123 124
        </p>
        <p class="text_title">Address</p>
        <p class="text_content">
              30 Cecil Street Singapore
        </p>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <img
          src="/images/image1.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</section>

{{> components/footer}}