<section>
  <ul class="nav justify-content-center pt-4 pb-4">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/portfolio">Portfolio</a>
  </li>
</ul>
  <div class="container">
    <div class="row">
      <div class="column">
        <img src="/images/portfolio/wedding.jpeg" />
        <img src="/images/portfolio/rocks.jpeg" />
        <img src="/images/portfolio/falls2.jpeg" />
        <img src="/images/portfolio/paris.jpeg" />
        <img src="/images/portfolio/nature.jpeg" />
        <img src="/images/portfolio/mist.jpeg" />
        <img src="/images/portfolio/paris.jpeg" />
      </div>
      <div class="column">
        <img src="/images/portfolio/underwater.jpeg" />
        <img src="/images/portfolio/ocean.jpeg" />
        <img src="/images/portfolio/wedding.jpeg" />
        <img src="/images/portfolio/mountainskies.jpeg" />
        <img src="/images/portfolio/rocks.jpeg" />
        <img src="/images/portfolio/underwater.jpeg" />
      </div>
      <div class="column">
        <img src="/images/portfolio/wedding.jpeg" />
        <img src="/images/portfolio/rocks.jpeg" />
        <img src="/images/portfolio/falls2.jpeg" />
        <img src="/images/portfolio/paris.jpeg" />
        <img src="/images/portfolio/nature.jpeg" />
        <img src="/images/portfolio/mist.jpeg" />
        <img src="/images/portfolio/paris.jpeg" />
      </div>
      <div class="column">
        <img src="/images/portfolio/underwater.jpeg" />
        <img src="/images/portfolio/ocean.jpeg" />
        <img src="/images/portfolio/wedding.jpeg" />
        <img src="/images/portfolio/mountainskies.jpeg" />
        <img src="/images/portfolio/rocks.jpeg" />
        <img src="/images/portfolio/underwater.jpeg" />
      </div>
    </div>
  </div>
</section>

<div class="mt-5">
  {{> components/footer}}
</div>