<section class="second_section" id="second_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-xs-12">
        <p class="text_head">About the Summit</p>
        <div class="separ"></div>
        <br />
        <p class="text_title">Welcome to Fairtech Summit 2021</p>
        <p class="text_content">
          President of the Republic of Indonesia, Joko Widodo wants State Own
          Enterprises (SOEs) become a global players in the coming future. So
          far, only four SOEs, which are PT Bank Rakyat Indonesia Tbk, PT Bank
          Mandiri Tbk, PT Telekomunikasi Indonesia Tbk, and PT Bank Negara
          Indonesia Tbk, have been placed on the list of the world's largest
          public companies in 2019 by Forbes economic magazine. Those listed
          companies are from 61 countries and selected based upon criteria . . .
        </p>
        <a href="about"
          class="btn btn-outline-success my-2 my-sm-0 my_button"
        >Discover more</a>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12">
        <img
          src="/images/image1.png"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
    </div>
  </div>
</section>