<section id="third_section" class="third_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <p class="text_head">Agenda</p>
        <div class="separ"></div>
        <br />
        <br />
        <p class="text_subtitle">Date</p>
        <p class="text_head">18 December 2021</p>
        <br />
        <p class="text_subtitle">Time</p>
        <p class="text_head">09.00 – 17.00 WIB</p>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 cardlist">
        <p class="text_subtitle">Venue</p>
        <p class="text_head">Ballroom The Djakarta Theatre, Jl. MH. Thamrin,
          Jakarta Pusat</p>
        <br />
        <p class="text_subtitle">Audience</p>
        <ol class="text_head" style="position:relative; left:-10px;">
          <li>
            Government Official
          </li>
          <li>
            Foreign and Domestic Investor
          </li>
          <li>
            SOEs
          </li>
          <li>
            SMEs
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>