
<section class="section" id="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-xs-12">
        <p class="text_footer"><img
            height="32"
            src="/images/logo.svg"
            alt="Logo FT Image"
          />
          &nbsp;| &nbsp;Copyright 2021. All Right Reserved. Fairtech Pte. Ltd.
          30 Cecil Street Singapore</p>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="flex_social">
          <a href="#">
            <img
              src="/images/iconset/fb.svg"
              alt="Facebook Icon"
            />&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          <a href="#">
            <img
              src="/images/iconset/instagram.svg"
              alt="Instagram Icon"
            />&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          <a href="#">
            <img
              src="/images/iconset/twitter.svg"
              alt="Twitter Icon"
            />&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          <a href="#">
            <img
              src="/images/iconset/linkedin.svg"
              alt="Linkedin Icon"
            />&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          <a href="#">
            <img src="/images/iconset/youtube.svg" alt="Youtube Icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>