<section id="main_section" class="main_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <p id="text_1" class="tag-text">Do not miss this upcoming event !</p>
        <p id="main_text" class="main-text">Fairtech Summit 2021</p>
        <p id="text_3" class="sub-text">Strategy towards a world-class company.</p>
        <div class="text_info">
          Wednesday, 18 December 2021 | THE DJAKARTA THEATER, Central Jakarta -
          Indonesia
        </div>
        <br />
        <br />
        <br />
        <a href="discover"
          class="btn btn-outline-success my-2 my-sm-0 my_button_outline"
        >Reach out</a> &nbsp; &nbsp;
        <a
          href="/book"
          class="btn btn-outline-success my-2 my-sm-0 my_button"
        >Book now</a>
      </div>
    </div>
  </div>
</section>